# Сгенерированные исполняемые файлы (для Windows)
*.exe

# Сгенерированные объектные файлы (промежуточные)
*.o
*.obj

# Сгенерированные вспомогательные файлы для GCC
a.out

# Папки для Visual Studio Code
.vscode/

# Папки и файлы для других IDE/Сборок, если они используются
build/
bin/